@*@model IEnumerable<PARKJS.WORK.STUDY04.Models.Actress.Actress_JP>*@
@model PARKJS.WORK.STUDY04.Models.Actress.Acrtess_JP_SearchMV

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Actress_JP" asp-action="Index" method="get">
    <p>
        <select asp-for="i_selectedCategory" asp-items="Model.categoryIds">
            <option value="">All</option>
        </select>

        Last Name: <input type="text" name="i_searchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].ProfessionalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].Ranking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].ActivityTime_From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].ActivityTime_To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].RegistDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actress_JPs[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.actress_JPs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityTime_From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityTime_To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Actr_JP_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Actr_JP_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Actr_JP_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
